# Python cache / env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
venv/
.venv/

eicu-collaborative-research-database-demo-2.0.1/
brainstorming.tzt
*.pdf
*.md
.env
